#reader { 
/*width: 320px; height: 416px;*/ 
position: absolute;
width: 100%;
height: 100%;
}

.hiddenInfo {display:none}

/*Ipad*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
#reader {
position: absolute;
width: 100%;
height: 100%;
}
}

/*Iphone */
@media only screen and (max-device-width: 480px) {
#reader {
width: 320px; height: 416px; position: absolute;

}
}


  #part_01, #part_02, #part_03,  #part_04,  #part_05,  #part_06,  #part_07,  #part_08,  #part_09,  #part_10,  #part_11,  #part_12,  #part_13,  #part_14,  #part_15,  #part_16 ,  
#part_17,  #part_18, #part_19,  #part_20,  #part_21, #part_22, #part_23,  #part_24, #part_25, #part_26,  #part_27, #part_28,#part_29,#part_30,#part_31,#part_32,#part_33, #part_34, #part_35, #part_36, #part_37{display:none}
  .bookTitle {
    position: absolute;
    top: 0;
    width: 100%;
padding:1px;
    text-align: center;
    cursor: pointer;
font-size:0.8em;
color:#cc0000;
  }
  #main_audio{display:none}